<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;

        }
        nav h1{
            margin: 0;
            padding: 0;
            display: inline;
            

        }
        nav li{
            display: inline;
            margin: 0 10px;
        }
        nav a{
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Libatech</h1>
        <li>
            <a href="">Produtos</a>
            <a href="">Financeiro</a>
            <a href="">Agendamentos</a>
            <a href="">APIs</a>
        </li>
    </nav>
</body>
</html>