<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestao Empresarial</title>
    <style>
        .titulo {
            justify-content: center;
        }
        .titulo  h1 {
            text-align: center;
        }
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 4px auto;
            margin-bottom: 15px;

        }
        form input {
            color: black;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="titulo">
        <h1>Gestao Empresarial</h1>
    </div>
    <form>
        <label>Usuario</label>
        <input id="usuario" type="text" name="usuario">
        <label>Senha</label>
        <input id="senha" type="password" name="senha">
        <button type="submit">Entrar</button>
    </form>
</body>
</html>